conf/
backup/
tmp/
conf/
logs/
cmake-build-debug
.idea
*.pyc
src/CmakeFiles
src/cmake_install.cmake
cmake-build-debug
output
diff-lines
diff-files
function-range
samples/*
!samples/*/*/*.c
vec_a
vec_c
P_C_files
line-function
diff_funcs
*.out
*.prj
computeDistance.pyc
__pycache__
crochet.conf
ASTParser.pyc
ASTParser.py_*
Cfiles
failed
Tests.py
ASTdiffTest.py
empty_file.c
test
